<div class="tweet-container" *ngFor="let tweet of tweetService.tweets">
  <div class="profile-image-container" fxFlex="15%">
    <img src="{{ placeholderImage }}" />
  </div>
  <div class="inner-tweet-container" fxFlex="85%">
    <div class="details">
      <p class="username">Username</p>
      <p class="handle">@UsernameHandle</p>
      <span class="spacer"></span>
      <p class="date">{{ tweet.dateOfCreation }}</p>
    </div>

    <br *ngIf="tweet.media" />

    <span class="tweet-media-container">
      <img
        class="tweet-media-content"
        *ngIf="isImage(tweet.media?.mediaType)"
        src="{{ tweet.media?.mediaUrl }}"
        onerror="this.style.display='none'"
      />
      <video
        loop
        muted
        controls
        class="tweet-media-content"
        *ngIf="isVideo(tweet.media?.mediaType)"
        src="{{ tweet.media?.mediaUrl }}"
        onerror="this.style.display='none'"
      ></video>
    </span>

    <br *ngIf="tweet.content" />

    <div class="tweet-content-container">
      {{ tweet.content }}
    </div>

    <br />

    <div class="metadata-container">
      <span class="metadata">
        <!-- Comment Count -->
        <span class="metadata-text">
          <mat-icon class="tweet-material-icon">chat_bubble</mat-icon>
          {{ tweet.commentCount }}
        </span>
        <!-- Retweet Count -->
        <span class="metadata-text">
          <mat-icon class="tweet-material-icon">loop</mat-icon>
          {{ tweet.retweetCount }}
        </span>
        <!-- Like Count -->
        <span class="metadata-text">
          <mat-icon class="tweet-material-icon">thumb_up_alt</mat-icon>
          {{ tweet.likeCount }}
        </span>
        <!-- Share -->
        <span class="metadata-text">
          <mat-icon class="tweet-material-icon">share</mat-icon>
        </span>
      </span>
    </div>

    <div class="tweet-management-buttons-container">
      <div class="buttons">
        <button class="button" mat-button (click)="deleteTweet(tweet)">
          Delete
        </button>
        <span class="spacer"></span>
        <button class="button" mat-button>Comment</button>
      </div>
    </div>

    <!-- <app-tweet-management-buttons [tweet]="tweet"></app-tweet-management-buttons> -->
  </div>
</div>
