<div class="tweet-container" *ngFor="let tweet of tweets">
  <div class="profile-image-container" fxFlex="15%">
    <img
      src="https://about.twitter.com/content/dam/about-twitter/en/brand-toolkit/brand-download-img-1.jpg.twimg.1920.jpg"
    >
  </div>
  <div class="inner-tweet-container" fxFlex="100%">
    <div id="details" style="display: flex">
      <!-- Username + UserHandle + Date -->
      <p id="username" style="margin-right: 10px">Username</p>
      <p id="handle" style="margin-right: 10px">@Username</p>
      <p id="date" style="text-align: right">{{tweet.createdDate}}</p>
    </div>

    <br/>

    <div id="Content">
      <p style="text-align: justify">
        {{tweet.content}}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, corporis dignissimos dolor earum eius est expedita
        impedit libero nostrum nulla numquam odio omnis saepe. Aut consequuntur dolorum ea iure magni nostrum odit omnis
        repellat tempora voluptates! A amet inventore molestias sed voluptates? Architecto blanditiis consequuntur
        reiciendis sunt, suscipit ut voluptate?
      </p>

      <span>
        <!-- <img src="{{tweet.media}}"> -->
        <!-- <video src="{{tweet.media}}"> -->
      </span>

      <span>
        <!-- Reply Count -->
        <!-- Retweet Count -->
        <!-- Like Count -->
        <!-- Share -->
      </span>
    </div>
  </div>
</div>
