<div>
  <div class="inner-container navigation">
    <!-- Home -->
    <app-button class="aligned-with-icon button"
                icon="home"
                text="Home"
                style="margin-top: 3px !important;">
    </app-button>

    <!-- Explore -->
    <app-button class="aligned-with-icon button"
                icon="search"
                text="Explore">
    </app-button>

    <!-- Notifications -->
    <app-button class="aligned-with-icon button"
                icon="notifications_none"
                text="Notifications">
    </app-button>

    <!-- Messages -->
    <app-button class="aligned-with-icon button"
                icon="chat_bubble_outline"
                text="Messages">
    </app-button>

    <!-- Bookmarks -->
    <app-button class="aligned-with-icon button"
                icon="bookmark_border"
                text="Bookmarks">
    </app-button>

    <!-- Lists -->
    <app-button class="aligned-with-icon button"
                icon="list"
                text="Lists">
    </app-button>

    <!-- Profile -->
    <app-button class="aligned-with-icon button"
                icon="person_outline"
                text="Profile">
    </app-button>

    <!-- More -->
    <app-button class="aligned-with-icon button"
                icon="more_vert"
                text="More">
    </app-button>

    <app-button class="aligned-with-icon"
                icon="reply"
                text="Tweet"
                style="padding-top: 35px !important;">
    </app-button>
  </div>
</div>
