<div>
  <app-header></app-header>
</div>

<div class="twitter-clone">
  <app-navigation-panel fxFlex="{{ sidePanel }}"></app-navigation-panel>

  <app-home class="timeline-container" *ngIf="router.url === '/home'" fxFlex="{{ timeline }}"></app-home>
  <app-login class="timeline-container" *ngIf="router.url === '/login'" fxFlex="{{ timeline }}"></app-login>
  <app-register class="timeline-container" *ngIf="router.url === '/register'" fxFlex="{{ timeline }}"></app-register>

  <!-- <app-user class="timeline-container" *ngIf="router.url === ('/')" fxFlex="{{ timeline }}"></app-user> -->

  <app-search-news-panel fxFlex="{{ sidePanel }}"></app-search-news-panel>
</div>
