<div id="container">
  <mat-dialog-content id="mat-dialog-container">

    <form method="post">
      <mat-form-field appearance="fill">
        <!-- Form Heading -->
        <mat-label>Compose Tweet</mat-label>
        <!-- Text area -->
        <input
          #input
          [(ngModel)]="content"
          [ngModelOptions]="{standalone: true}"
          class="mat-form-field-textarea"
          matInput
          maxlength="280"
          name="content"
          placeholder="What's happening"
          type="text">
        <!-- Maximum character limit -->
        <mat-hint align="end">{{input.value?.length || 0}}/280</mat-hint>
      </mat-form-field>

      <mat-dialog-actions>
        <button class="form-button" id="add-media-button" mat-button type="button">Add media</button>
        <button class="form-button" id="remove-media-button" mat-button type="button">Remove</button>
        filename-example.txt
        <button (click)="addTweet()" id="compose-tweet-button" mat-button mat-dialog-close type="submit">Create
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>

