/* Debugging */
* {
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-color: darkorange;*/
}

/*#container {*/
/*  color: white;*/
/*  background-color: #121212;*/
/*}*/

textarea {
  resize: none;
  font-size: 15px;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-title {
  margin: 0;
}

.mat-dialog-content {
  display: inline;
}

.mat-dialog-actions {
  padding: 0;
}

.mat-form-field-textarea {
  height: 90px;
  overflow: hidden;
}

#remove-media-button {
  float: left;
  color: white;
  background: #673ab7;
  margin-right: 16px;
  transition-duration: 0.25s;
}

#add-media-button {
  float: left;
  transition-duration: 0.25s;
}

#add-media-button:hover {
  background: #673ab7;
  color: white;
  transition-duration: 0.25s;
}

#compose-tweet-button {
  margin-left: auto;
  margin-right: 0;
  color: white;
  background: #673ab7;
  transition-duration: 0.25s;
}

#compose-tweet-button:hover, #remove-media-button:hover {
  color: black;
  background: white;
  transition-duration: 0.25s;
}
