#title-container {
  color: white;
  background: #673AB7;
  padding: 18px;
}

.tweet-container {
  margin-bottom: 10px;
}

.user-management-form {
  width: 100%;
}

.bad-credentials-alert {
  color: red;
}

.login-button {
  color: white;
  background: #673AB7;
  border-radius: 0;
  transition-duration: 0.25s;
}

.login-button:hover {
  color: black;
  background-color: white;
  transition-duration: 0.25s;
}
