* {
  min-width: 20%;
}

.search-form {
  width: 100%;
}

/* NOTE: */
::ng-deep .mdc-text-field {
  border-radius: 0 !important;
}

/* ::ng-deep .mat-mdc-form-field {
  width: 100%;
} */

.container {
  color: white;
  background-color: #673ab7;
  border: #673ab7 solid 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 15px;
  height: 254px;
}

.container:last-child {
  margin-bottom: 0;
}

.whats-happening-container {
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  * {
    display: none;
  }
}
