<div class="home-container">
  <div class="title-container">
    <p class="page-title">Home</p>
  </div>

  <div class="compose-tweet-container">
    <app-compose-tweet></app-compose-tweet>
  </div>

  <!-- TODO: Decide between virtual scrolling or infinite scrolling or combine both? -->
  <div class="all-tweets-container">
    <cdk-virtual-scroll-viewport itemSize="50" class="all-tweets-viewport">
      <!-- <div class="tweet-container" *ngFor="let tweet of tweetService.tweets">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div> -->
      
      <div class="tweet-container" *cdkVirtualFor="let tweet of tweetService.tweets">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    </cdk-virtual-scroll-viewport>    
  </div>
</div>
