.button {
  background: #673AB7;
  color: white;
  border: none;
  margin: 0 10px 10px 0;
  padding: 10px 0;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  width: 100%;
  font-size: 15px;
  min-width: auto;
  transition-duration: 0.25s;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  background: white;
  color: black;
  transition-duration: 0.25s;
}

.icon-display {
  padding-left: 10px;
  padding-right: 17px;
  padding-bottom: 4px;
  vertical-align: middle;
  margin-left: 15px;
  transform: scale(1.5);
}
