.button {
  background: #673AB7;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  width: 90%;
  font-size: 20px;
  min-width: auto;
  transition-duration: 0.25s;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  background: white;
  color: black;
  transition-duration: 0.25s;
}

.icon-display {
  padding-left: 10px;
  padding-right: 17px;
  padding-bottom: 4px;
  transform: scale(1.5);
}

