/* You can add global styles to this file, and also import other style files */

/* TODO: Implement theme toggler */
:root {
  --primary-colour: #673ab7;
}

.light-theme {
  --background-colour: #fff;
}

.dark-theme {
  --background-colour: #000;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin-bottom: 0 !important;
}

.timeline-container {
  padding: 0 10px;
}

.title-container {
  color: white;
  background: var(--primary-colour);
  padding: 18px;
  margin-bottom: 10px;
}

span.spacer {
  flex: 1 1 auto;
}
