/* You can add global styles to this file, and also import other style files */

/* Debugging */
/* * {
  border-width: 1px;
  border-style: solid;
  border-color: darkorange;
  border-radius: 15px;
} */

/* html,
body {
  color: white;
  background-color: #121212;
} */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin-bottom: 0 !important;
}

.timeline-container {
  padding: 0 10px;
}