<div class="inner-container navigation">
  <!-- Home -->
  <app-navigation-button 
    class="aligned-with-icon" 
    icon="home" 
    text="Home"
    *ngIf="
      router.url !== '/home' && 
      router.url !== '/login' && 
      router.url !== '/register'
    "
  >
  </app-navigation-button>

  <!-- Explore -->
  <app-navigation-button
    class="aligned-with-icon"
    icon="search"
    text="Explore">
  </app-navigation-button>

  <!-- Notifications -->
  <app-navigation-button
    class="aligned-with-icon"
    icon="notifications_none"
    text="Notifications">
  </app-navigation-button>

  <!-- Messages -->
  <app-navigation-button
    class="aligned-with-icon"
    icon="chat_bubble_outline"
    text="Messages">
  </app-navigation-button>

  <!-- Bookmarks -->
  <app-navigation-button
    class="aligned-with-icon"
    icon="bookmark_border"
    text="Bookmarks">
  </app-navigation-button>

  <!-- Lists -->
  <app-navigation-button 
    class="aligned-with-icon" 
    icon="list" 
    text="Lists">
  </app-navigation-button>

  <!-- Profile -->
  <app-navigation-button
    class="aligned-with-icon"
    icon="person_outline"
    text="Profile">
  </app-navigation-button>

  <!-- More -->
  <app-navigation-button
    class="aligned-with-icon"
    icon="more_vert"
    text="More">
  </app-navigation-button>

  <!-- Tweet -->
  <app-navigation-button
    class="aligned-with-icon create-tweet-button"
    icon="reply"
    text="Tweet"
    [ngStyle]="{'margin-top': '50px !important'}"
    *ngIf="
      router.url !== '/home' && 
      router.url !== '/login' && 
      router.url !== '/register'
    "
  >
  </app-navigation-button>
</div>
