<div class="container">
  <mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ translateColumnName(column) }}
      </mat-header-cell>
      
      <mat-cell *matCellDef="let row">
        {{ rowInformation(column, row) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
      <mat-header-cell *matHeaderCellDef>Delete User</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="deleteUser(row)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay.concat(['deleteButton'])"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay.concat(['deleteButton'])"></mat-row>
  </mat-table>
</div>
