<div class="container">
  <div class="card">
    <h3 class="text-center">Users List</h3>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Display Name</th>
          <th>User Handle</th>
          <th>Bio Text</th>
          <th>Bio Location</th>
          <th>Bio External Link</th>
          <th>Created Date</th>
          <th>Picture Avatar URL</th>
          <th>Picture Background URL</th>
          <th>Tweet Count</th>
          <th>Tweet Quote Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.userId}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>{{user.email}}</td>
          <td>{{user.displayName}}</td>
          <td>{{user.userHandle}}</td>
          <td>{{user.bioText}}</td>
          <td>{{user.bioLocation}}</td>
          <td>{{user.bioExternalLink}}</td>
          <td>{{user.createdDate}}</td>
          <td>{{user.pictureAvatarUrl}}</td>
          <td>{{user.pictureBackgroundUrl}}</td>
          <td>{{user.tweetCount}}</td>
          <td>{{user.tweetQuoteCount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
