<mat-dialog-content>
  <form #registerForm="ngForm" (ngSubmit)="createTweet()">    
    <mat-form-field  appearance="fill" class="compose-tweet-form">
      <mat-label>Compose Tweet</mat-label>
      <textarea
        #input
        #content="ngModel"
        [(ngModel)]="tweet.content"
        class="mat-form-field-textarea"
        id="content"
        matInput
        maxlength="280"
        name="content"
        placeholder="What's happening"
        type="text">
      </textarea>

      <div class="hint">
        <mat-hint>{{ input.value.length || 0 }}/280</mat-hint>
      </div>
    </mat-form-field>

    <div class="button-row-container">
      <button class="tweet-button add-media-button" mat-button type="button">Add media</button>
      <!-- <span *ngIf="fileSelected" style="margin-right: 10px">filename-example-placeholder.txt</span> -->
      
      
      <div [formGroup]="fileSelectForm">
        <mat-label>Basic fill input</mat-label>
        <ngx-mat-file-input formControlName="fileSelectForm" placeholder="Basic fill placeholder" ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </div>
      
      <button
        [disabled]="!tweet.content"
        class="tweet-button compose-tweet-button"
        mat-button
        type="submit">
        Create
      </button>
    </div>
    
      
  </form>
</mat-dialog-content>
