<div
  class="compose-container"
  [ngStyle]="{ padding: data.dialogOpen ? '20px' : '0' }"
>
  <div class="tweet-reply-details" *ngIf="data.tweetType == 'Comment'">
    <div class="details">
      <p class="username">{{ tweetAuthor.username }}</p>
      <p class="handle">{{ tweetAuthor.userHandleName }}</p>
      <span class="spacer"></span>
      <p class="date">{{ data.tweet.dateOfCreation }}</p>
    </div>

    <div class="tweet-content">
      <p>{{ data.tweet.content }}</p>
    </div>

    <div class="tweet-context">
      <p>Replying to '{{ tweetAuthor.username }}'</p>
    </div>
  </div>

  <form class="form-container" #RegisterForm="ngForm" (ngSubmit)="create()">
    <mat-form-field appearance="fill" class="compose-tweet-form">
      <mat-label class="textarea-label">
        {{ data.textAreaLabel ?? "Compose Tweet" }}
      </mat-label>
      <textarea
        #input
        matInput
        #content="ngModel"
        [(ngModel)]="tweet.content"
        class="mat-form-field-textarea"
        id="content"
        name="content"
        maxlength="280"
        placeholder="{{ data.placeholder ?? 'What\'s happening' }}"
        type="text"
      >
      </textarea>
      <div class="hint">
        <mat-hint>{{ input.value.length }}/280</mat-hint>
      </div>
    </mat-form-field>
    <div class="button-row-container">
      <button class="tweet-button add-media-button" mat-button type="button">
        File
        <label for="file-upload" class="custom-file-upload"></label>
      </button>
      <input
        id="file-upload"
        #FileName
        (change)="onFileSelected($event)"
        type="file"
      />

      <div class="filename">
        {{ FileName.value.replace("C:\\fakepath\\", "") }}
      </div>

      <mat-icon
        *ngIf="FileName.value"
        class="remove-file"
        (click)="cancel(FileName)"
      >
        cancel
      </mat-icon>

      <button
        [disabled]="disableSubmitButton()"
        class="tweet-button compose-tweet-button"
        mat-button
        type="submit"
      >
        Create
      </button>
    </div>
  </form>
</div>
