<div class="container">
  <mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ translateColumnName(column) }}
      </mat-header-cell>
      
      <mat-cell *matCellDef="let row">
        {{ rowInformation(column, row) }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>
