/* Debugging */
* {
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-color: darkorange;*/
  /*border-radius: 15px;*/
}

.search-news-panel-container {

}

.search-form {
  width: 100%;
}

#search-form-input {
  height: 20px;
}

.container {
  color: white;
  background-color: #673AB7;
  border-color: #673AB7;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
  height: 250px;
}
