<!-- TODO: Re-style -->
<div class="register-page-container">
  <div class="title-container">
    <p class="page-title">Registration</p>
  </div>

  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <!-- Username -->
      <mat-form-field appearance="fill" class="user-management-form">
        <mat-label>Username</mat-label>
        <input matInput autocomplete="off" type="text" formControlName="username" />
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="user-management-form">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" type="password" formControlName="password" />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="fill" class="user-management-form">
        <mat-label>Confirm Password</mat-label>
        <input matInput autocomplete="off" type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('notmatching')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="user-management-form">
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" type="email" formControlName="email" />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <!-- Confirm Email -->
      <mat-form-field appearance="fill" class="user-management-form">
        <mat-label>Confirm Email</mat-label>
        <input matInput autocomplete="off" type="email" formControlName="confirmEmail" />
        <mat-error *ngIf="registerForm.get('confirmEmail')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('confirmEmail')?.hasError('notmatching')">
          Emails must match
        </mat-error>
      </mat-form-field>

      <!-- <div
        class="alert alert-warning"
        *ngIf="registerForm.submitted && signUpFailed"
      >
        Signup failed!<br />{{ errorMessage }}
      </div> -->

      <div class="register-container">
        <button class="register-button" mat-button type="submit">
          Register
        </button>
        <small [routerLink]="['/login']">
          Already have an account? Login here
        </small>
      </div>
    </form>
  </div>
</div>
