<div class="tweet-container" id="title-container">
  <p id="page-title">Registration</p>
</div>

<div class="form-container">
  <form #registerForm="ngForm" (ngSubmit)="registerUser()">

    <!--<editor-fold desc="Username">-->
    <mat-form-field appearance="fill" class="user-management-form">
      <mat-label>Username</mat-label>
      <input #username="ngModel"
             [(ngModel)]="user.username"
             [class.is-invalid]="username.invalid && username.touched"
             id="username"
             matInput
             name="username"
             required
             type="text">
      <mat-error *ngIf="username.errors && (username.invalid && username.touched)">
        Username is required
      </mat-error>
    </mat-form-field>
    <!--</editor-fold>-->

    <br/>

    <!--<editor-fold desc="Password">-->
    <mat-form-field appearance="fill" class="user-management-form">
      <mat-label>Password</mat-label>
      <input #password="ngModel"
             [(ngModel)]="user.password"
             [class.is-invalid]="password.invalid && password.touched"
             id="password"
             matInput
             name="password"
             required
             type="password">
      <mat-error *ngIf="password.errors && (password.invalid && password.touched)">
        Password is required
      </mat-error>
    </mat-form-field>
    <!--</editor-fold>-->

    <br/>

    <!--<editor-fold desc="Confirm Password">-->
    <mat-form-field appearance="fill" class="user-management-form">
      <mat-label>Confirm Password</mat-label>
      <input #confirmPassword="ngModel"
             (ngModel)="user.password"
             [class.is-invalid]="password.invalid && password.touched"
             id="confirmPassword"
             matInput
             name="confirmPassword"
             required
             type="password">
      <mat-error *ngIf="(confirmPassword.value !== password.value) && confirmPassword.touched">
        Password and Confirm Password do not Match
      </mat-error>
    </mat-form-field>
    <!--</editor-fold>-->

    <br/>

    <!--<editor-fold desc="Email">-->
    <mat-form-field appearance="fill" class="user-management-form">
      <mat-label>Email</mat-label>
      <input #email="ngModel"
             [(ngModel)]="user.email"
             [class.is-invalid]="email.invalid && email.touched"
             id="email"
             matInput
             name="email"
             required
             type="email">
      <mat-error *ngIf="email.errors && (email.invalid && email.touched)">
        Email is required
      </mat-error>
    </mat-form-field>
    <!--</editor-fold>-->

    <br/>

    <!--<editor-fold desc="Confirm Email">-->
    <mat-form-field appearance="fill" class="user-management-form">
      <mat-label>Confirm Email</mat-label>
      <input #confirmEmail="ngModel"
             (ngModel)="user.email"
             id="confirmEmail"
             matInput
             name="confirmEmail"
             required
             type="email">
      <mat-error *ngIf="(confirmEmail.value !== email.value) && confirmEmail.touched">
        Email and Confirm Email do not Match
      </mat-error>
    </mat-form-field>
    <!--</editor-fold>-->

    <br/>

    <button class="login-button" mat-button type="submit">Register</button>
    <small (click)="goToLoginPage()" [routerLink]="['/login']">Already have an account? Login here</small>
  </form>
</div>
