.spacer {
  flex: 1 1 auto;
}

.header {
  background: rgb(103, 58, 183);
  background: linear-gradient(
    90deg,
    rgba(103, 58, 183, 1) 0%,
    rgba(90, 43, 173, 1) 75%,
    rgba(62, 19, 143, 1) 100%
  );
  margin-bottom: 10px;
}
