.buttons {
  display: flex;
}

.button {
  background: #673ab7;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  transition-duration: 0.25s;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  background: #DDD;
  color: black;
  transition-duration: 0.25s;
}

.spacer {
  flex: 1 1 auto;
}
